<div class="page-content">

    {{ content }}
    
    <!-- Contact Form -->
    <section class="contact">
        <div class="row">
            <div class="columns large-8 small-10 small-centered">
                <h3>{{ page.contact_title }}</h3>
                <a href="mailto:mb@michaelbigelowmusic.com" class="left">mb@michaelbigelowmusic.com</a>
                <p class="right">801.550.3951</p>
                <span class="clear"></span>
            </div>
        </div>
    </section>
</div>