<nav id="menu-overlay">
	<button class="button-four" id="close-menu"><div class="row-inner">{% include icon-x.html %}Close Menu</div></button>
	<ul>
    {% for page in site.nav-pages %}
    <li>
        <div class="row-inner">
            <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{% include {{ page.icon }} %}{{ page.name }}</a>
            <div class="clear"></div>
        </div>
    </li>
    {% endfor %}
	</ul>
    <div class="social-wrap">
        <div class="row-inner">
            {% for social in site.social-links %}
                <a class="social" href="{{ social.url }}"><img src="{{ site.baseurl }}/images/social-{{ social.name }}.png"/></a>
            {% endfor %}
        </div>
        <div class="clear"></div>
    </div>
</nav>


<header class="site-header">
    <div class="row">
        
        <div class="columns large-4 medium-3 small-8">
            <a class="site-title" href="{{ site.baseurl }}/">
                <span class="show-for-medium-up">{% include logo-full.html %}</span>
                <span class="show-for-small-down">{% include logo-icon-sml.html %}</span>
            </a>
        </div>

        <div class="columns large-8 medium-9 small-4">
            
            <div class="button-four hide-for-medium-up" id="show-menu">{% include icon-burger.html %} Menu</div>
            
            <div class="social-wrap hide-for-small-down">
                <div class="inner">
                    {% for social in site.social-links %}
                        <a class="social" target="_blank" href="{{ social.url }}"><img src="{{ site.baseurl }}/images/social-{{ social.name }}.png"/></a>
                    {% endfor %}
                </div>
                <div class="clear"></div>
            </div>
            <nav class="site-nav hide-for-small-down">
                {% for page in site.nav-pages %}
                    <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.name }}</a>
                {% endfor %}
                    <a class="page-link" href="#contact-footer">Contact</a>
                <div class="clear"></div>
            </nav>
        </div>
        
        <div class="clear"></div>

    </div>
</header>
