<div id="modal" class="form hidden" id="form-performance">
    <div class="row">
        <div id="modal-bg" class="modal-closer"></div>
        <a id="modal-btn" class="modal-closer button-three medium-8 large-6 columns small-centered">{% include icon-x.html %} Close Form</a>
        <form id="contact-form-modal" class="contact-form modal-form medium-8 large-6 columns small-centered" action="//formspree.io/kbigelow5@gmail.com" method="post">
            <div class="title">
                <h4>Contact Michael Bigelow</h4>
                <div class="clear"></div>
            </div>
            <label for="Name">Your Name</label>
            <input type="text" name="Name" placeholder="Name" required>
            <label for="Email">Your Email</label>
            <input type="email" name="Email" placeholder="Email" required>
            <label for="Message" id="#label-message">Message</label>
            <textarea name="Message" cols="30" rows="4" required></textarea>
            <!-- CONFIG -->
            <input class="really-hidden" type="text" name="_gotcha">
            <input type="hidden" name="_subject" value="Subject">
            <!-- /CONFIG -->
            <input class="submit button-one" type="submit" value="Send Message &rsaquo;">
        </form>
    </div>
</div>

<script>
var $contactForm = $('#contact-form-modal');
var $body = $('body');
var $successMessage = $('<div class="alert alert--success sticky "><div class="row">Message sent to Michael!</div></div>');
$contactForm.submit(function(e) {
	e.preventDefault();
	$.ajax({
		url: '//formspree.io/kbigelow5@gmail.com',
		method: 'POST',
		data: $(this).serialize(),
		dataType: 'json',
		beforeSend: function() {
			$contactForm.append('<div class="alert alert--loading">Sending message…</div>');
		},
		success: function(data) {
			$contactForm.find('.alert--loading').hide();
            $('#modal').fadeToggle();
            $('#modal-bg').fadeToggle();
            $('.modal-form').delay(100).slideToggle();
            $('body').toggleClass('no-scroll');
            $body.append($successMessage);
            $successMessage.delay(500).slideToggle(500).delay(5000).slideToggle(500);
            
		},
		error: function(err) {
			$contactForm.find('.alert--loading').hide();
			$contactForm.append('<div class="alert alert--error"><span class="red-text">Oops, there was an error!</span><br/>Email me at mb@michaelbigelowmusic.com</div>');
		}
	});
});
</script>