/* ----------------------------------------------------------
    Button Styles
/* ----------------------------------------------------------*/

.button-one {
    color: $white;
    cursor: pointer;
    font-weight: 700;
    line-height: 1.125;
    background: $button-green;
    border: .0625rem solid $button-green;
    padding: .875rem 2.875rem 1rem;
    border-radius: 5px;
    -webkit-font-smoothing:antialiased;
    &:hover, :focus {
        background: $button-green--dark;
        border: .0625rem solid $button-green--dark;
    }
}
.banner {
    .button-one {
        border-color: $button-green--bright;
        &:focus { background: $button-green--dark; }
    }
}
input.button-one {
    border-radius: 5px;
    -webkit-transition: background .25s;
    -moz-transition: background .25s;
    -o-transition: background .25s;
    transition: background .25s;
}

.button-two {
    display: block;
    padding: .875rem 2.875rem 1rem;
    border: .0625rem solid $button-green;
    color: $button-green;
    background: $white;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    -webkit-transition: color 300ms ease-out, background-color 300ms ease-out;
    transition: color 300ms ease-out, background-color 300ms ease-out;
    &:hover {
        background: $button-green;
        color: $white;
        text-decoration: none;
    }
    &:focus {
        color: $button-green;
        background: $white;
        outline: none;
    }
}

.button-three {
    color: $gallery;
    margin: .25rem 0 0.125rem;
    display: block;
    text-decoration: none;
    background: none;
    border: none;
    padding: .5rem 1rem;
    border-radius: 5px;
    text-align: center;
    .icon {
        display: inline-block;
        width: 1.5rem;
        height: 1.125rem;
        svg {
            width: .875rem;
            height: .875rem;
            fill: $white;
            margin: .325rem 1.4325rem .325rem .25rem;
            display: block;
        }
    }
    &:hover {
        color: $white;
        text-decoration: none;
    }
    &:focus {
        color: $gallery;
    }
}

.button-four {
    color: $white;
    background: $jellyBean;
    width: 100%;
    border-radius: 0;
    text-align: left;
    padding: .75rem 0;
    display: block;
    color: $white;
    font-weight: 700;
    font-size: 1rem;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    &:focus {
        outline: none;
    }
    &:hover {
        background: $jellyBeanDark;
    }
    .icon {
        float: left;
        svg {
            width: .875rem;
            height: .875rem;
            fill: $white;
            margin: .325rem 1.4325rem .325rem .25rem;
            display: block;
        }
    }
    &#show-menu {
        padding: .875rem .5rem 1rem;
        float: right;
        max-width: 6rem;
        margin-top: .5rem;
        border-radius: 5px;
        .icon svg {
            margin-right: .75rem;
        }
    }   
}
.button-square {
    &.red-text {
        color: red;
        background: $white;
        .icon svg {
            -webkit-transition: fill .25s ease-out .125s;
            -moz-transition: fill .25s ease-out .125s;
            -o-transition: fill .25s ease-out .125s;
            transition: fill .25s ease-out .125s;
            fill: #919191;
        }
        &:hover, :focus {
            background: $white;
            .icon svg {
                fill: #CE1F1B;
            }
        }
    }
    .icon svg {
        width: .875rem;
        height: .875rem;
    }
}

/*
.button-group {
    max-width: 25rem;
    .button-one, .button-two, .button-three {
        width: 100%;
        margin: .25rem 0;
        padding-left: .25rem;
        padding-right: .25rem;
    }
}
*/

@media screen and (max-width: 640px) {
/*
    .button-group {
        max-width: 100%;
        .button-one, .button-two, .button-three {
            width: 50%;
            float: left;
        }
    }
*/
}
