/* ----------------------------------------------------------
    Button Styles
/* ----------------------------------------------------------*/

.button-one {
    color: $white;
    font-weight: 700;
    line-height: 1.125;
    background: $button-green;
    border: .0625rem solid $button-green;
    padding: .875rem 2.875rem 1rem;
    -webkit-font-smoothing:antialiased;
    &:hover {
        background: $button-green--dark;
        border: .0625rem solid $button-green--dark;
    }
}

.button-two {
    display: block;
    padding: .875rem 2.875rem 1rem;
    border: .0625rem solid $button-green;
    color: $button-green;
    background: $white;
    text-decoration: none;
    cursor: pointer;
    &:hover {
        background: $button-green;
        color: $white;
        text-decoration: none;
    }
    &:focus {
        color: $button-green;
        background: $white;
        outline: none;
    }
}

.button-three {
    color: $white;
    margin: .25rem 0 0.125rem;
    display: block;
    text-decoration: none;
    background: $mineshaft;
    background: rgba(0,0,0,.8);
    border: 1px solid #272727;
    padding: .5rem 1rem;
    border-radius: 3px;
    text-align: left;
    -moz-transition: background .125s; /* Firefox */
    -webkit-transition: background .125s; /* Safari 3.1 to 6.0 */
    transition: background .125s;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out; /* Safari and Chrome */
    transition-timing-function: ease-in-out; /* Firefox */
    &:hover {
        color: $white;
        text-decoration: none;
        background: $mineshaftLight;
        background: rgba(0,0,0,1);
    }
    &:focus {
        color: $white;
        text-decoration: none;
        background: $mineshaftLight;
    }
}

.button-four {
    color: $white;
    background: $jellyBean;
    width: 100%;
    border-radius: 0;
    text-align: left;
    padding: .75rem 0;
    display: block;
    color: $white;
    font-weight: 700;
    font-size: 1rem;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    &:focus {
        outline: none;
    }
    &:hover {
        background: $jellyBeanDark;
    }
    .icon {
        float: left;
        svg {
            width: .875rem;
            height: .875rem;
            fill: $white;
            margin: .325rem 1.4325rem .325rem .25rem;
            display: block;
        }
    }
    &#show-menu {
        padding: .875rem .5rem 1rem;
        float: right;
        max-width: 6rem;
        margin-top: .5rem;
        border-radius: 5px;
        .icon svg {
            margin-right: .75rem;
        }
    }   
}

/*
.button-group {
    max-width: 25rem;
    .button-one, .button-two, .button-three {
        width: 100%;
        margin: .25rem 0;
        padding-left: .25rem;
        padding-right: .25rem;
    }
}
*/

@media screen and (max-width: 640px) {
/*
    .button-group {
        max-width: 100%;
        .button-one, .button-two, .button-three {
            width: 50%;
            float: left;
        }
    }
*/
}
