/* ----------------------------------------------------------
    Moduals
----------------------------------------------------------*/

@import
    "_typography",
    "_button-defaults",
    "_forms",
    "_icons";


/* ----------------------------------------------------------
    Base
----------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  font-family: $noto;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  background-color: $background-light;
}

.page-content {
  padding: 0;
  background-color: #fff;
}

a         { color: #2a7ae2; text-decoration: none; }
a:hover   { color: #000; text-decoration: underline; }
a:visited { color: #205caa; }

/* Utility */

.wrap:before,
.wrap:after { content:""; display:table; }
.wrap:after { clear: both; }
.wrap {
  max-width: 800px;
  padding: 0 30px;
  margin: 0 auto;
  zoom: 1;
}

.clear { clear: both; }
.no-scroll {
    overflow: hidden;
}

/* ----------------------------------------------------------
    Various Elements
/* ----------------------------------------------------------*/


// Social Media Icons

.social-wrap {
    display: block;
    width: 100%;
    margin: .125rem 0 .5rem;
}
.social {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-left: .25rem;
}

/* ----------------------------------------------------------
    Header & Footer
/* ----------------------------------------------------------*/

// Site header

.site-header {
    background: $white;
    padding: .75rem 0.9375rem 1rem;
    .mbmlogo { display: inline-block; }
    .columns { padding: 0; }
    .social-wrap .inner { float: right; }
    .site-nav { float: right; }
    .logo {
        &.full svg {
            width: 12rem;
        }
        &.icon-small svg{
            width: 11rem;
            height: 4rem;
        }
    }
}

.site-nav {
    display: block;
    a {
        color: $link--vary2;
        margin-left: .625rem;
        font-weight: 700;
        font-size: .875rem;
        &:hover {
            text-decoration: none;
            color: $link-hover--vary2;
        }
    }
}

.hello-bar.construction {
    text-align: center;
    background: #4990c1;
    padding: 1rem 0;
    p {
        font-weight: 700;
        color: #fff;
        text-shadow: 1px 1px #38698b;
        margin: 0;
    }
}

// Menu Overlay

#menu-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background: $background-dark;
    z-index: 10;
    -webkit-transition: all .25s ease .25s;
    -moz-transition: all .25s ease .25s;
    -o-transition: all .25s ease .25s;
    transition: all .25s ease .25s;
    display: none;
    &.show {
        display: block;
    }
    .page-link {
        text-align: left;
        padding: 1.125rem 0;
        display: block;
        color: $white;
        font-weight: 700;
        font-size: 1rem;
        text-rendering: geometricPrecision;
        -webkit-font-smoothing: antialiased;
        .icon {
            float: left;
            svg {
                fill: $white;
                height: 28px;
                width: 26px;
                margin-right: 1rem;
            }
        }
    }
    ul {
        list-style: none;
        margin-left: 0;
    }
    li {
        text-align: left;
        border-bottom: .0625rem solid $border-black--vary1;
    }

    .row-inner {
        width: 100%;
        max-width: 290px;
        display: block;
        margin: 0 auto;
    }
    .social-wrap {

    }
    .social {
        width: 50px;
        height: 50px;
        float: none;
        display: inline-block;
    }
}



// Site footer

.site-footer {
    text-align: center;
    padding: 1rem 0.9375rem 2rem;
    background: $white;
    p {
        margin: 0;
        color: #7e7e7e;
        font-size: .875rem;
    }
    .site-nav {
        margin: .5rem auto 0;
        padding-top: 1rem;
        border-top: 1px solid $border-gray--vary1;
        display: block;
        float: none;
    }
    .social-wrap {
        margin: 1rem 0 .5rem;
    }
    .social {
        width: 35px;
    }
    .logo {
        &.full svg {
            display: inline-block;
            width: 12rem;
        }
        &.icon-small svg {
            display: inline-block;
            width: 11rem;
            height: 4rem;
        }
    }
}

/* ----------------------------------------------------------
    Structure
/* ----------------------------------------------------------*/

// Major Structural Elements

section { padding: 3rem 0 4.5rem; }

.banner {

    // Structure
    min-height: 350px;
    background: #000;
    padding: 2.5rem 0 4rem;
    .title {  }
    &.home {
        background: url('../../images/bg_mbSax1_lrg.jpg') $mineshaft;
        background-size: cover;
    }
    &.sub {
        padding: 3.75rem 0 4rem;
        .title { text-align: center; }
    }
    &.sax {
        background: url('../../images/bg_mbSax2_med.jpg') $mineshaft;
        background-size: cover;
        background-position: center;
    }

}

.features {
    
    // Structure
    padding: 3rem 0 3rem;
    li {
        list-style: none;
        margin: 0;
        min-height: 22rem;
        border-left: solid 1px $border-gray--vary2;
        position: relative;
        display: block;
        &:first-child { border: none; }
    }
    .inner {
        padding: 2rem 1rem;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0 1rem 3.5rem;
    }
    
    // Typesetting
    h4 { margin: 1.1875rem 0 .75rem; }
    p { margin-bottom: 1.5rem; }

}

.testimonials {

    // Structure
    &.full {
        background: url('../../images/stressed_linen.png') #202020;
        ul { margin: 0; list-style: none; }
        .inner {
            background: $background-light;
            border-left: 4px solid $jellyBean;
            padding: 1.5rem 2rem 2rem;
            position: relative;
            .row { margin: 0; }
        }
        img {
            margin-top: 1rem;
            position: absolute;
            bottom: 2rem;
            left: 2rem;
        }
    }
    &.side {
        ul { display: inline-block; }
        li {
            background: #fcfcfc;
            padding: 1.875rem;
            border: .0625rem solid $border-gray--vary1;
            &:last-child { margin-top:1rem; }            
        }
        .author { margin-bottom: 1rem; }
    }
    .author {
        display: block;
        padding: 0;    
    }
    
    // Typesetting
    h3 { color: $white; }
    p, h4 { margin: 0; }
    p.quote { text-indent: -.5rem; margin-bottom: 0; }

}

.bio {
    
    // Structure
    .avatar {
        float: right;
    }
    
    // Typesetting
    h3 {
        margin-bottom: 1rem;
        padding-bottom: 0;
    }

}

.contact {
    
    // Structure
    background: url('../../images/bg-blue-ox.jpg') $mineshaft;
    background-size: cover;
    ul.social {
        margin: .75rem 0 1.25rem;
        list-style: none;
        li { display: inline-block; }
        img { margin-right: .25rem; }
    }
    form {
        background: $white;
        border-radius: .3125rem;
        padding: .875rem;
        max-width: 17rem;
        margin-top: 1.375rem;
    }
    .element-wrap {
        padding: 1rem;
        display: inline-block;
        border-radius: 5px;
        background: rgba(255, 255, 255, .87);
    }
    
    // Elements
    .button-one {
        width: 100%;
        margin-top: .25rem;
    }
    .button-three {
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
//         max-width: 275px;
        width: 100%;
        text-align: center;
    }

    
    // Typesetting
    h3 {
        padding-bottom: 0;
        color: $white;
    }
}

.group-feature {
    
    // Structure
    .members { 
        border-left: 1px solid $border-gray--vary1;
    }
    li { margin-bottom: 2rem; }
    img {
        display: block;
        margin: 0 auto;
    }
    .member-details {
        display: block;
        margin: 0 auto;
        padding: .5rem 0 0 0;
        h4, p { margin: 0; text-align: center; }
    }
    .button-group { margin: .5rem auto 0; }
    
    //Typography
    h3 {
        padding: 0;
        text-align: center;
    }
}

.blocks {
    
    // Structure
    ul.block-sections {
        li {
            margin-bottom: 2.75rem;
        }
    }
    
}

.video {
    
    background: url('../../images/stressed_linen.png') #202020;
    h3 {  }
}


// Minor Structural Elements

.blurb {
    
    display: block;
    margin: 0 auto;
    position: relative;
    border-top: .0625rem solid $border-gray--vary1;
    .icon {
        position: absolute;
        left: 0;
        top: 10px;
    }
    
    p {
        padding-left: 2.5rem;
        font-size: 1.25rem;
    }
}


/* ----------------------------------------------------------
    Splash Page
/* ----------------------------------------------------------*/

.splashpage {
    min-height: 450px;
    height: 100vh;
    height: calc(100vh - 6.95rem);
    text-align: center;
    position: relative;
    .inner {
        margin: 5rem 0;
        position: absolute;
        top: 12%;
    }
    img.logo {
        margin: 0 auto;
        display: block;
    }
    ul.social-links {
        margin: 2rem auto 0;
        display: inline-block;
        list-style: none;
        li {
            display: block;
            margin: 0 .25rem;
            float: left;
            a {
                width: 53px;
                height: 54px;
                margin-top: .25rem;
                display: block;
                cursor: pointer;
                -moz-transition: margin .125s; /* Firefox */
                -webkit-transition: margin .125s; /* Safari 3.1 to 6.0 */
                transition: margin .125s;
                -moz-transition-timing-function: ease-in-out;
                -webkit-transition-timing-function: ease-in-out; /* Safari and Chrome */
                transition-timing-function: ease-in-out; /* Firefox */
                &:hover { margin-top: 0; }
                &.facebook { background: url('/images/icon-facebook.png'); }
                &.googleplus { background: url('/images/icon-googleplus.png'); }
                &.youtube { background: url('/images/icon-youtube.png'); }
                &.linkedin { background: url('/images/icon-linkedin.png'); }
            }
        
        }
    }
}

/* ----------------------------------------------------------
    Resets
----------------------------------------------------------*/

.center { margin: 0 auto; text-align: center; }

ul.clean { list-style: none; margin-left: 0; }

.push-top-bottom--sml { margin: .75rem 0; }
.push-top-bottom--med { margin: 1.5rem 0; }
.push-bottom--med { margin-bottom: 1.5rem; }

a {
    cursor: pointer;
    &.plain { text-decoration: none; }
}

.clear { clear: both; }

// .row.wide { max-width: 75rem; }

/* ----------------------------------------------------------
    Media Queries
----------------------------------------------------------*/

@media screen and (min-width: 1024px) {

    .blocks {
        ul.block-sections {
            li:last-child {
                margin-bottom: 0;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    
    .testimonials {
        &.full {
            p.quote { padding: 0; margin-top: 1.25rem; }
        }
    }
    
}

@media screen and (max-width: 850px) {

}

@media screen and (max-width: 750px) {
    
    .site-header {
        padding: .5rem 0.9375rem .25rem;
        .logo {
            &.full svg{
                width: 11rem;
            }
        }
    }
    
}

@media screen and (min-width: 640px) and (max-width: 1023px) {
    
    .testimonials {
        &.side {
            ul { border: .0625rem solid $border-gray--vary1; }
            li { border: none; }
            li:last-child { margin-top: 0rem; }
        }
    }
    
    .blurb {
        padding-top: 0;
        border-top: none;
    }
    
}

@media screen and (max-width: 640px) {
    
    // Typesetting
    
    h1 { font-size: 1.75rem;}
    h3 { padding-bottom: 1.5rem; }
    
    
    // Structure
    
    section { padding: 2rem 0 3.5rem; }
    
    .features {
        li { min-height: 18rem; }
        .inner {
            position: relative;
            padding: 0 0 3.5rem;
        }
    }
    
    .site-header {
        padding: .125rem 0.5rem .25rem;
    }
    
    .testimonials {
        &.full {
            .inner { margin-bottom: .25rem; }
        }
    }
    
    .bio {
        padding: 4rem 0 3.5rem;
        .avatar {
            float: none;
            position: absolute;
            width: 6rem;
            right: 1rem;
            top: -6.5rem;
        }
    }
    
    .contact {
        
        // Structure
        padding: 2rem 0 3rem;
        .avatar {
            margin: 0 auto 1rem;
            float: none;
            display: block;
        }
        ul.social {
            margin: 1.25rem auto 2rem;
            list-style: none;
            display: block;
            width: 241px;
        }
        
        // Elements
        .button-three {
            width: 100%;
            max-width: 100%;
            text-align: center;
        }
        form {
            max-width: 100%;
        }
        
        // Typesetting
        h3 { text-align: center; }

    }    
    
}

@media screen and (max-width: 600px) {

}

@media screen and (max-width: 480px) {

    .splashpage {
        height: auto;
        min-height: 0;
        .inner { position: relative; margin: 4rem 0 6rem; }
    }
    
    .blurb {
        .icon {
            position: relative;
            margin: 0 auto 1rem;
            display: block;
        }       
        p { padding-left: 0; }
    }

}

@media screen and (max-width: 400px) {

}

@media screen and (max-width: 320px) {

    .banner.home {
        background-position: -460px;
    }
    
}