/*  ----------------------------------------------------------
    Fonts
/*  ----------------------------------------------------------*/

    // Imports
    @import url('http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic');
    @import url('http://fonts.googleapis.com/css?family=Bitter:400,700');
    
    // Definitions
    $noto: 'Noto Sans', Helvetica, Arial, sans-serif;
    $bitter: 'Bitter', Georgia, serif;


/*  ----------------------------------------------------------
    Colors
/*  ----------------------------------------------------------*/

    // Neutrals
    
    $white: #ffffff;
    $alabaster: #f9f9f9; //near white
    $gallery: #ececec; //light gray
    $silver: #c7c7c7; //medium gray
    $mineshaftLight: #373737; //dark gray
    $mineshaft: #242424;
    $black: #000000;
    
    
    // Blues
    $jellyBean: #2d7cb3;
    $outerspace: #313334;
    
    // Greeens
    $fruitsalad: #4caf50;
    $apple: #42a146;
    
    // Oranges


/*  ----------------------------------------------------------
    Assignments
/*  ----------------------------------------------------------*/
    
    // Text
    $text-default: $outerspace;
    $text-blue: $jellyBean;
    $text-white: $white;
    
    $link--vary1: $fruitsalad;
    $link-hover--vary2: $apple;
    $link--vary2: $outerspace;
    $link-hover--vary2: $jellyBean;
    
    // Buttons
    $button-green: $fruitsalad;
    $button-green--dark: $apple;
    
    // Border
    $border-gray--vary1: $gallery;
    $border-gray--vary2: $silver;
    
    // Backgrounds
    $background-light: $alabaster;