/* ----------------------------------------------------------
    Base
----------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  font-family: 'Noto Sans', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  background-color: #fdfdfd;
}

.page-content {
  padding: 0;
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: 400; }

a         { color: #2a7ae2; text-decoration: none; }
a:hover   { color: #000; text-decoration: underline; }
a:visited { color: #205caa; }

/* Utility */

.wrap:before,
.wrap:after { content:""; display:table; }
.wrap:after { clear: both; }
.wrap {
  max-width: 800px;
  padding: 0 30px;
  margin: 0 auto;
  zoom: 1;
}

/* ----------------------------------------------------------
    Typography
/* ----------------------------------------------------------*/
h1 {  }
h2 {  }
h3 {  }
h4 {  }
h5 {  }



/* ----------------------------------------------------------
    Button Styles
/* ----------------------------------------------------------*/

.button-one {  }

.button-two {  }

.button-three {  }



/* ----------------------------------------------------------
    Layout Styles
/* ----------------------------------------------------------*/

/* Site header */

.site-header {  }

.site-nav {  }

/* Site footer */

.site-footer {  }

/* ----------------------------------------------------------
    Media Queries
----------------------------------------------------------*/

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 850px) {

}

@media screen and (max-width: 750px) {

}

@media screen and (max-width: 640px) {

}

@media screen and (max-width: 600px) {


}

@media screen and (max-width: 400px) {

}